<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 text-center">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <h1 class="me-2 gym-title"><%= @gym.name %></h1>
        <div class="favorite-button ms-2">
          <% if current_user %>
            <% if current_user.favorite?(@gym) %>
              <%= render 'favorites/unfavorite', gym: @gym %>
            <% else %>
              <%= render 'favorites/favorite', gym: @gym %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="average-rating d-flex justify-content-center align-items-center mb-3">
        <h3 class="me-2">評価: <%= @average_rating %></h3>
        <div id="average-star-rating"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="btn-group d-flex justify-content-center flex-wrap mb-5">
        <%= link_to '店舗情報', gym_path(@gym), class: "btn btn-outline-success flex-grow-1 mb-2", style: "min-width: 150px;" %>
        <%= link_to '写真', images_gym_path(@gym), class: "btn btn-outline-success flex-grow-1 mb-2", style: "min-width: 150px;" %>
        <%= link_to '口コミ一覧', gym_reviews_path(@gym), class: "btn btn-outline-success flex-grow-1 mb-2", style: "min-width: 150px;" %>
        <% if logged_in? %>
          <%= link_to '口コミ投稿', new_gym_review_path(@gym), class: "btn btn-outline-success flex-grow-1 mb-2", style: "min-width: 150px;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    const averageRatingElement = document.getElementById('average-star-rating');
    if (averageRatingElement && !averageRatingElement.classList.contains('raty-initialized')) {
      averageRatingElement.classList.add('raty-initialized');
      new Raty(averageRatingElement, {
        size: 36,
        starOff: '/assets/star-off.png',
        starOn: '/assets/star-on.png',
        starHalf: '/assets/star-half.png',
        score: <%= raw @average_rating.to_json %>,
        readOnly: true
      }).init();
    }
  });
</script>
