<% content_for(:title, "#{@user.name}") %>
<%= render "shared/flash_message" %>
<% breadcrumb :user_show, @user %>
<div class="wrapper">
  <div class="d-flex flex-column mx-auto align-items-center">
    <h1 class="text-center" style="padding: 0 250px;"><%= @user.name %>のマイページ</h1>
    <%= render "/shared/mypage_info" %>
    <table class="table mx-auto" style="max-width: 800px;">
      <tbody>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">アカウント名</th>
          <td style="background-color: white;"><%= @user.name %></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">メールアドレス</th>
          <td style="background-color: white;"><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
