<div class="d-flex flex-column flex-md-row justify-content-center align-items-center mb-5">
  <% if @tag %>
    <h1 class="mb-3 mb-md-0 me-md-5 text-nowrap"><%= @tag.name %> タグがついているジム <%= @gyms.count %>件</h1>
  <% else %>
    <h1 class="mb-3 mb-md-0 me-md-5 text-nowrap">キーワードで見つかったジム <%= @gyms.count %>件</h1>
  <% end %>
  <div class="d-flex flex-column flex-md-row align-items-center">
    <%# <i class="fa-solid fa-location-dot fa-3x me-3 mb-3 mb-md-0" style="color: #198754;"></i> %>
    <%= link_to t('top.index.location_search'), locations_path, class: "btn btn-success btn-lg", style: "font-size: 25px;" %>
  </div>
</div>
<div class="d-flex justify-content-center mb-5 text-nowrap">
  <h5>新たなジムの情報を追加する場合は<%= link_to(new_gym_path, class: 'custom-link') do %>こちら<% end %></h5>
</div>
<% @gyms.each do |gym| %>
  <div class="card mb-3 mx-auto p-2" style="width: 65%;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center">
        <%= image_tag(@gym_images[gym.id], class: "img-fluid rounded", alt: "Gym Image") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="card-title me-3"><%= link_to gym.name, gym_path(gym) %></div>
            <div id="favorite-button-for-gym-<%= gym.id %>">
              <% if current_user %>
                <% if current_user.favorite?(gym) %>
                  <%= render 'favorites/unfavorite', gym: gym %>
                <% else %>
                  <%= render 'favorites/favorite', gym: gym %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="average-rating d-flex align-items-center mb-3 text-nowrap">
            <p>評価: <%= @average_ratings[gym.id] %></p>
            <div class="stars">
              <div id="average-star-rating-<%= gym.id %>" class="raty"></div>
            </div>
          </div>
          <p class="card-text"><%= gym.access %></p>
          <p class="card-text">会費  <%= gym.membership_fee %></p>
          <div class="card-text">
            <% if gym.tags.any? %>
              <% gym.tags.each do |tag| %>
                <span class="badge bg-success"><%= tag.name %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('turbo:load', function() {
    const gyms = <%= @gyms.map { |gym| { id: gym.id, rating: @average_ratings[gym.id] } }.to_json.html_safe %>;
    gyms.forEach(function(gym) {
      const averageRatingElement = document.getElementById('average-star-rating-' + gym.id);
      if (averageRatingElement && !averageRatingElement.classList.contains('raty-initialized')) {
        averageRatingElement.classList.add('raty-initialized');
        new Raty(averageRatingElement, {
          size: 20,  // 星のサイズを調整
          starOff: '/assets/star-off.png',
          starOn: '/assets/star-on.png',
          starHalf: '/assets/star-half.png',
          score: gym.rating,
          readOnly: true
        }).init();
      }
    });
  });
</script>
