<h1 class="text-center" style="padding: 0 250px;"><%= @gym.name %></h1>
<div class="average-rating d-flex align-items-center mb-3">
  <h3>評価: <%= @average_rating %></h3>
  <div id="average-star-rating" style="margin-left: 10px;"></div>
</div>
<div class="btn-group mb-5" style="max-width: 800px;">
  <%= link_to '店舗情報', gym_path(@gym), class: "btn btn-outline-success border-1", style: "width: 200px;" %>
  <%= link_to '写真', images_gym_path(@gym), class: "btn btn-outline-success border-1", style: "width: 200px;" %>
  <%= link_to '口コミ一覧', gym_reviews_path(@gym), class: "btn btn-outline-success border-1", style: "width: 200px;" %>
  <% if logged_in? %>
    <%= link_to '口コミ投稿', new_gym_review_path(@gym), class: "btn btn-outline-success border-1", style: "width: 200px;" %>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    const averageRatingElement = document.getElementById('average-star-rating');
    if (averageRatingElement && !averageRatingElement.classList.contains('raty-initialized')) {
      averageRatingElement.classList.add('raty-initialized');
      new Raty(averageRatingElement, {
        size: 36,
        starOff: '/assets/star-off.png',
        starOn: '/assets/star-on.png',
        starHalf: '/assets/star-half.png',
        score: <%= raw @average_rating.to_json %>,
        readOnly: true
      }).init();
    }
  });
</script>
