<div class="d-flex justify-content-center mb-5">
  <h1 style="margin-right: 10px;">キーワードで見つかったジム <%= @gyms.count %>件</h1>
  <i class="fa-solid fa-location-dot fa-3x"></i>
  <%= link_to t('top.index.location_search'), locations_path, class: "btn btn-success btn-lg", style: "font-size: 25px; ml-5" %>
</div>
<% @gyms.each do |gym| %>
  <div class="card mb-3 mx-auto p-2" style="width: 50%;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag(@gym_images[gym.id], class: "img-fluid rounded", alt: "Gym Image") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to gym.name, gym_path(gym) %></h5>
          <div class="average-rating d-flex align-items-center mb-3">
            <p>評価: <%= @average_ratings[gym.id] %></p>
            <div class="stars">
              <div id="average-star-rating-<%= gym.id %>" class="raty"></div>
            </div>
          </div>
          <p class="card-text"><%= gym.access %></p>
          <p class="card-text">会費  <%= gym.membership_fee %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('turbo:load', function() {
    const gyms = <%= @gyms.map { |gym| { id: gym.id, rating: @average_ratings[gym.id] } }.to_json.html_safe %>;
    gyms.forEach(function(gym) {
      const averageRatingElement = document.getElementById('average-star-rating-' + gym.id);
      if (averageRatingElement && !averageRatingElement.classList.contains('raty-initialized')) {
        averageRatingElement.classList.add('raty-initialized');
        new Raty(averageRatingElement, {
          size: 20,  // 星のサイズを調整
          starOff: '/assets/star-off.png',
          starOn: '/assets/star-on.png',
          starHalf: '/assets/star-half.png',
          score: gym.rating,
          readOnly: true
        }).init();
      }
    });
  });
</script>

<style>
.average-rating p {
  margin-bottom: 0;
}

.average-rating .stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.average-rating .raty img {
  width: 20px; /* アイコンのサイズを調整 */
  height: 20px;
}
</style>
