<div class='sticky-top'>
  <nav class='navbar navbar-expand-md navbar-dark bg-dark'>
    <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <span style="color: #227D51; font-size: 30px; font-weight: 900; font-family: Arial;">GoGym</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
        <% unless current_page?(root_path) %>
          <%= search_form_for @q, url: gyms_path, class: 'd-flex mx-auto my-2 my-lg-0' do |f| %>
            <div class="input-group">
              <%= f.search_field :name_cont, class: 'form-control', placeholder: 'キーワード' %>
              <button class="btn btn-primary btn-success" type="submit"><%= t('top.index.search') %></button>
            </div>
          <% end %>
        <% end %>
        <div class="navbar-nav ms-auto d-flex align-items-center flex-row">
          <p class="nav-item m-0">
            <%= link_to 'マイページ', user_path(current_user), class: "btn btn-outline-light me-2", style: "font-size: 15px;" %>
          </p>
          <p class="nav-item m-0">
            <%= link_to t('shared.header.logout'), logout_path, class: "btn btn-light me-2", style: "font-size: 15px;", data: { turbo_method: :delete } %>
          </p>
        </div>
      </div>
    </div>
  </nav>
</div>
