<div class="container px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <% if logged_in? %>
    <% if @recommended_gyms.present? %>
      <h3 class="text-lg font-semibold mb-6">あなたにおすすめのジム</h3>
      <div class="row justify-content-center g-3">
        <% @recommended_gyms.first(3).each do |gym| %>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card recommend-card shadow-sm h-100">
              <%= image_tag(@gym_images[gym.id] || 'fake.jpg', size: "150x150", class: "card-img-top", alt: "Gym Image") %>
              <div class="card-body">
                <h6 class="card-title"><%= link_to gym.name, gym_path(gym) %></h6>
                <div class="average-rating d-flex align-items-center mb-3">
                  <p>評価: <%= @average_ratings[gym.id] %></p>
                  <div class="stars">
                    <div id="average-star-rating-<%= gym.id %>" class="raty"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h3 class="text-lg font-semibold mb-6">よく見られているジムはこちら</h3>
      <div class="row justify-content-center g-3">
        <% @popular_gyms.each do |gym| %>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card recommend-card shadow-sm h-100">
              <%= image_tag(@gym_images[gym.id] || 'fake.jpg', size: "150x150", class: "card-img-top", alt: "Gym Image") %>
              <div class="card-body">
                <h6 class="card-title"><%= link_to gym.name, gym_path(gym) %></h6>
                <div class="average-rating d-flex align-items-center mb-3">
                  <p>評価: <%= @average_ratings[gym.id] %></p>
                  <div class="stars">
                    <div id="average-star-rating-<%= gym.id %>" class="raty"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3 class="text-lg font-semibold mb-6">よく見られているジムはこちら</h3>
    <div class="row justify-content-center g-3">
      <% @popular_gyms.first(3).each do |gym| %>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card recommend-card shadow-sm h-100">
            <%= image_tag(@gym_images[gym.id] || 'fake.jpg', size: "150x150", class: "card-img-top", alt: "Gym Image") %>
            <div class="card-body">
              <h6 class="card-title"><%= link_to gym.name, gym_path(gym) %></h6>
              <div class="average-rating d-flex align-items-center mb-3">
                <p>評価: <%= @average_ratings[gym.id] %></p>
                <div class="stars">
                  <div id="average-star-rating-<%= gym.id %>" class="raty"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<script>
  document.addEventListener('turbo:load', function() {
    const recommendedGyms = <%= @recommended_gyms&.map { |gym| { id: gym.id, rating: @average_ratings[gym.id] } }&.to_json&.html_safe || '[]' %>;
    const popularGyms = <%= @popular_gyms&.map { |gym| { id: gym.id, rating: @average_ratings[gym.id] } }&.to_json&.html_safe || '[]' %>;

    const gyms = recommendedGyms.concat(popularGyms);

    gyms.forEach(function(gym) {
      const averageRatingElement = document.getElementById('average-star-rating-' + gym.id);
      if (averageRatingElement && !averageRatingElement.classList.contains('raty-initialized')) {
        averageRatingElement.classList.add('raty-initialized');
        new Raty(averageRatingElement, {
          size: 20,  // 星のサイズを調整
          starOff: '<%= asset_path("star-off.png") %>',
          starOn: '<%= asset_path("star-on.png") %>',
          starHalf: '<%= asset_path("star-half.png") %>',
          score: gym.rating,
          readOnly: true
        }).init();
      }
    });
  });
</script>

<style>
.average-rating p {
  margin-bottom: 0;
}

.average-rating .stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.average-rating .raty img {
  width: 20px; /* アイコンのサイズを調整 */
  height: 20px;
}
</style>
