<% content_for(:title, t('gyms.index') ) %>
<% breadcrumb :gyms %>
<div class="wrapper">
  <% if @gyms.blank? %>
    <div style="text-align: center; margin-top: 20px;">
      <p><%= t('flash.no_search_result') %></p>
      <p>新たなジムの情報を追加する場合は<%= link_to(new_gym_path, class: 'btn btn-link') do %>こちら<% end %></p>
    </div>
  <% elsif @gyms.present? %>
    <%= render "/shared/gym" %>
  <% else %>
    <p><%= t('flash.no_result') %></p>
  <% end %>
  <div class="pagination d-flex justify-content-center">
    <%= paginate @gyms%>
  </div>
</div>
