<% content_for(:title, t('gyms.index') ) %>
<% breadcrumb :gyms %>
<div class="wrapper mt-5">
  <% if @gyms.blank? %>
    <div class="text-center">
      <p><%= t('flash.no_search_result') %></p>
      <p>新たなジムの情報を追加する場合は<%= link_to(new_gym_path, class: 'btn btn-link') do %>こちら<% end %></p>
    </div>
  <% elsif @gyms.present? %>
    <%= render "/shared/gym" %>
  <% else %>
    <p><%= t('flash.no_result') %></p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pagination d-flex justify-content-center flex-wrap">
          <%= paginate @gyms %>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <%= render "/shared/recommend" %>
</div>
