<% content_for(:title, t(".gyms.new")) %>
<% breadcrumb :new_gym %>

<div class="mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">新しいジムを登録</h1>
      <%= render "shared/error_message", model: @gym %>

      <%= form_with(model: @gym, local: true, class: "form-horizontal") do |f| %>
        <div class="mb-3">
          <%= f.label :name, "店名", class: "form-label" %>
          <%= f.text_field :name, id: :gym_name, class: "form-control" %>
        </div>

        <%= f.fields_for :location do |location_form| %>
          <div class="mb-3">
            <%= location_form.label :address, "住所", class: "form-label" %>
            <%= location_form.text_field :address, id: :location_address, class: "form-control" %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :access, "交通手段", class: "form-label" %>
          <%= f.text_field :access, id: :gym_access, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :membership_fee, "会費", class: "form-label" %>
          <%= f.text_field :membership_fee, id: :gym_membership_fee, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :business_hours, "営業時間", class: "form-label" %>
          <%= f.text_field :business_hours, id: :gym_business_hours, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :website, "HP", class: "form-label" %>
          <%= f.text_field :website, id: :gym_website, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :tags, "タグ", class: "form-label" %>
          <% @tags.each do |tag| %>
            <div class="form-check">
              <%= check_box_tag "gym[tag_ids][]", tag.id, @gym.tags.include?(tag), class: "form-check-input", id: "gym_tag_#{tag.id}" %>
              <%= label_tag "gym_tag_#{tag.id}", tag.name, class: "form-check-label" %>
            </div>
          <% end %>
        </div>

        <div class="d-grid gap-2 col-4 mx-auto mb-5">
          <%= f.submit "登録する", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
