<% content_for(:title, "#{@gym.name}") %>
<div class="wrapper">
  <div class="d-flex flex-column mx-auto align-items-center">
    <h1 class="text-center" style="padding: 0 250px;"><%= @gym.name %></h1>
    <%= render "/shared/gym_info" %>
    <section class="text-gray-600 body-font mx-auto" style="max-width: 1000px;">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="d-flex flex-wrap">
            <% @gym.reviews.each_with_index do |review, index| %>
              <% if index < 3 && @gym.photos.present? %>
                <%= image_tag @gym.photos.url %>
              <% elsif index == 0 && @gym.photos.blank? %>
                <%= image_tag 'fake.jpg' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <table class="table mx-auto" style="max-width: 800px;">
      <tbody>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">店名</th>
          <td style="background-color: white;"><%= @gym.name %></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">住所</th>
          <td style="background-color: white;"><%= @gym.location.address %><div id="map" style="height: 400px; width: 400px;"></div></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">交通手段</th>
          <td style="background-color: white;"><%= @gym.access %></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">会費</th>
          <td style="background-color: white;"><%= @gym.membership_fee %></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">営業時間</th>
          <td style="background-color: white;"><%= @gym.business_hours %></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">HP</th>
          <td style="background-color: white;"><%= @gym.website %></td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" style="text-align: center;">ジャンル</th>
          <td style="background-color: white;">タグ</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <p>より充実した情報を共有するため、店舗情報の加筆・修正にご協力ください。</p>
      <a href="#">編集はこちら</a>
    </div>
  </div>
</div>

<style>
  .wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }
</style>

<script>
function initMap() {
  // ブラウザがGeolocation APIをサポートしているかどうかをチェック
  if (navigator.geolocation) {
    // Google Maps APIを使用して地図を初期化
    // document.getElementById('map')で指定されたHTML要素に地図を表示
    const map = new google.maps.Map(document.getElementById('map'), {
      // 地図の中心をcurrentPosに設定
      center: { lat: <%= @gym.location.latitude %>, lng: <%= @gym.location.longitude %> },
      // 地図のズームレベルを設定
      zoom: 15
    });

    const marker = new google.maps.Marker({
      position: { lat: <%= @gym.location.latitude %>, lng: <%= @gym.location.longitude %> },
      map: map,
      title: '<%= @gym.name %>',
  });
  } else {
    console.log('このブラウザはGeolocation APIをサポートしていません。');
  }
}

document.addEventListener('DOMContentLoaded', function () {
  // ページ内のすべてのクラスが btn-outline-success である要素を選択
  const buttons = document.querySelectorAll(".btn-outline-success");
  // 選択された要素それぞれに対して、指定された関数を実行
  buttons.forEach(function (button) {
  // ボタン要素から data-url 属性を取得し、その値が現在のページのURL (window.location.pathname) と一致するかを確認
  if (button.getAttribute("data-url") === window.location.pathname) {
    button.classList.add("btn-success"); // `btn-success`クラスを追加
    button.classList.remove("btn-outline-success"); // `btn-outline-success`クラスを取り除く
    }
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>
