<% content_for(:title, "#{@gym.name}") %>
<% breadcrumb :new_review, @gym %>
<div class="wrapper">
  <%= render "shared/flash_message" %>
  <div class="d-flex flex-column mx-auto align-items-center">
    <%= render "/shared/gym_info" %>
    <div class="card mt-4 border border-black">
      <%= form_with model: [@gym, @review], local: true, multipart: true do |f| %>
        <ul class="list-group list-group-flush">
          <div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid black;">
            <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 10px; margin-left: 10px;" id="star">
              <%= f.label :rating,'評価' %>
              <%= f.hidden_field :rating, id: :review_star %>
              <div id="star-rating" style="margin-left: 10px;"></div>
            </div>
            <span style="margin-right: 10px;">投稿日 <%= Time.zone.now.strftime("%Y/%m/%d") %></span>
          </div>
          <div class="mb-2" style="border-bottom: 1px solid black;">
            <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください", id: :review_title %>
          </div>
          <div class="mb-2" style="border-bottom: 1px solid black;">
            <%= f.text_area :content, class: "form-control border-0", style: "height: 200px;", placeholder: "口コミ本文を入力してください（100文字）", id: :review_content %>
          </div>
          <div class="mb-2">
            <%= f.label :image, "写真を追加してください", class: "form-label", style: "margin-left: 10px;" %>
            <%= f.file_field :image, class: "form-control", id: :review_image %>
          </div>
          <div class="d-flex justify-content-center mb-2">
            <%= f.submit "投稿", class: "btn btn-success" %>
          </div>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    // すでに評価要素が存在するかチェックしてクリア
    const starRatingElement = document.querySelector('#star-rating');
    if (starRatingElement) {
      starRatingElement.innerHTML = ''; // 既存の星評価要素をクリア
    }
    new Raty(document.querySelector('#star-rating'), {
      size: 36,
      starOff: '/assets/star-off.png',
      starOn: '/assets/star-on.png',
      starHalf: '/assets/star-half.png',
      scoreName: 'review[rating]',
      half: true,
      click: function(score, element, evt) {
        document.querySelector('#review_star').value = score;
      }
    }).init();
  });
</script>
