<% content_for(:title, t('locations.index.search')) %>
<div class="d-flex justify-content-center mt-5 mb-5">
  <h1 style="margin-right: 10px;">ジムを地図から探す</h1>
</div>
<div class="d-flex justify-content-center mb-5">
  <div id="map" style="height: 600px; width: 600px;"></div>
</div>

<script>
function initMap() {
  //初期表示位置
  let latlng = new google.maps.LatLng(35.6803997, 139.7690174);
   //デザイン
  let styles = [
    {
      stylers: [
        { "saturation": 0 },
        { "lightness": 0 }
      ]
    }
  ];

  let map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5.5,
    styles: styles,
    center: latlng
  });
  let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

  // //複数マーカー ここから
  // <% @locations.each do |location|%>
  //   ( function() {
  //     let markerLatLng = { lat: <%= location.lat %>, lng: <%= location.lng %> }; // 緯度経度のデータ作成
  //     let marker = new google.maps.Marker({
  //       position: markerLatLng,
  //       map: map
  //     });
  //     //マーカーをクリックしたとき、詳細情報を表示
  //     let infowindow = new google.maps.InfoWindow({
  //       position: markerLatLng,
  //       content: "<a href='<%= location_url(location.id) %>' target='_blank'><%= location.adress %></a>"
  //     }); //ここで詳細ページへのリンクを表示させる
  //     marker.addListener('click', function() {
  //       infowindow.open(map, marker);
  //     });

  //   })();
  // <% end %>
  //複数マーカー ここまで
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>
