<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-15LMZDWF81"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-15LMZDWF81');
    </script>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/429c59024a.js" crossorigin="anonymous"></script>

    <%= favicon_link_tag('logo_top') %>
    <script src="<%= asset_path('raty.js') %>"></script>
    <script src="<%= asset_path('loading.js') %>"></script>

    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <body class="<%= 'top-index' if controller_name == 'top' && action_name == 'index' %>">
    <header>
      <% if logged_in? %>
        <%= render "/shared/header" %>
      <% else %>
        <%= render "/shared/before_login_header" %>
      <% end %>
    </header>
    <main>
      <%= render "shared/flash_message" %>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <div class="loader-wrap">
        <div class="loader"></div>
      </div>
      <%= yield %>
    </main>
    <footer class="text-center">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
