<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/429c59024a.js" crossorigin="anonymous"></script>

    <%= favicon_link_tag('logo_top') %>
    <script src="<%= asset_path('raty.js') %>"></script>
    <script src="<%= asset_path('loading.js') %>"></script>
  </head>
  <body class="<%= 'top-index' if controller_name == 'top' && action_name == 'index' %>">
    <div class="loader">
      <div class="loader-inner pacman">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <header>
      <% if logged_in? %>
        <%= render "/shared/header" %>
      <% else %>
        <%= render "/shared/before_login_header" %>
      <% end %>
    </header>
    <main>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <%= yield %>
    </main>
    <footer class="text-center">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
