<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/429c59024a.js" crossorigin="anonymous"></script>

    <%= favicon_link_tag('logo_top') %>
    <script src="<%= asset_path('raty.js') %>"></script>
    <script src="<%= asset_path('loading.js') %>"></script>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="GoGym" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= asset_path('og_image.png') %>" />
    <meta property="og:description" content="Find the best gyms with GoGym!" />
    <meta property="og:site_name" content="GoGym" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="GoGym - Find Your Best Gym">
    <meta name="twitter:description" content="Find the best gyms with GoGym!">
    <meta name="twitter:image" content="<%= asset_path('og_image.png') %>">
  </head>
  <body class="<%= 'top-index' if controller_name == 'top' && action_name == 'index' %>">
    <header>
      <% if logged_in? %>
        <%= render "/shared/header" %>
      <% else %>
        <%= render "/shared/before_login_header" %>
      <% end %>
    </header>
    <main>
      <%= render "shared/flash_message" %>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <div class="loader-wrap">
        <div class="loader"></div>
      </div>
      <%= yield %>
    </main>
    <footer class="text-center">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
